.slick-list,
.slider-container {
    /* こいつ消すとデザイン壊れます */
    /* react-slickの仕様で使わざるを得ない？ */
    overflow-x: hidden;
}

.slick-list {
    /* 初期設定値の変更 */
    padding: 0 !important;
}

.slider-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.catch-copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.subtitle {
    font-family: Noto-Sans-Bold;
    font-size: 24px;
    color: #fff;
    display: block;
    margin: 12px 0;
}